*{
    box-sizing: border-box;
    font-family:"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body{
    margin: 0;
}

.navbar{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    border-bottom: solid 1px #dfdfdf;
    padding:16px 24px;
    margin-bottom: 16px;
    box-shadow:  0px 2px 10px #a2a0a04c ;
}

.top-right-buttons{
    display: flex;
    list-style-type:none;
    margin: 0;
    padding: 0;
  
}

.top-right-left{
    padding: 12px;
    font-size: 16px;
    color: #1d2124;
   
}

.company-link{
    padding: 10px;
    font-size: 20px;
    color:#212529;
    white-space:nowrap;
}

.signup-button{
    white-space:nowrap;
}

.link{
    text-decoration: none;
}

.top-right-buttons{
    color: #1D2124;
}

.top-right-buttons:visited{
    color: #1D2124;
}

.features-button:hover{
    text-decoration: underline;
}

.enterprise-button:hover{
    text-decoration: underline;
}

.support-button:hover{
    text-decoration: underline;
}

.pricing-button:hover{
    text-decoration: underline;
}

.signup-button{
    padding: 8px;
    border: 1px solid #007BFF;
}
